<main class="main">
  <div class="container">

    <div class="fullname-container">
      <div class="photo">
        <img src="assets/images/photo.jpg" alt="Daryia Kastsianok">
      </div>

      <div class="fullname">
        <h1> {{ 'name' | translate }} <br> {{ 'surname' | translate }} </h1>
        <h5 class="position"> {{ 'position' | translate }} </h5>
      </div>

      <div class="decoration">
        <h3 class="profile">{{ 'profile' | translate }}</h3>
        <mat-accordion>
          <mat-expansion-panel id="my-component-name-style-container">
            <mat-expansion-panel-header
              collapsedHeight="80px"
              expandedHeight="15px"
            >
              <mat-panel-title>
                <div class="profile-info-title">{{ 'profile-info' | translate }}</div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="profile-info-content">
              {{ 'profile-info' | translate }}
            </p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <div class="main-info">
      <app-aside></app-aside>
      <app-experience></app-experience>
    </div>

    <div class="localization">
      <select class="select-lang" [(ngModel)]="selectedLang" (change)="onChangeLanguage()">
        <option value="en">EN</option>
        <option value="ru">RU</option>
      </select>
      <mat-icon>language</mat-icon>
    </div>

  </div>
</main>
